{{!
You can use this template to render any errors on your site if you wish
}}

<main>
  <header>
    <h1>Marvel Characters Found</h1>
  </header>
  <a href="/">Search for Another Character</a>
  <p>
    {{errors}}
  </p>
</main>
